---
import { Icon as AstroIcon } from 'astro-icon/components'
import Button from '../../components/ui/button'
import Input from '../../components/ui/input'
import sendIcon from '../../icons/send-icon.svg'
import Layout from '../../layouts/Layout.astro'
import SectionLayout from '../../layouts/SectionLayout.astro'
import styles from './contact.module.scss'
import { Tooltip } from '../../components/ui/tooltip'
import { actions } from 'astro:actions'

const emailResult = Astro.getActionResult(actions.sendEmail)

if (emailResult?.data) {
  Astro.redirect('/')
}

if (emailResult?.error) {
  console.error(emailResult?.error.message)
}
---

<Layout>
  <SectionLayout title='Get in touch'>
    <main class={styles.container}>
      <section class={styles.info}>
        <h3>Don't be shy!</h3>
        <p>Feel free to get in touch with me. I am always open to discussing new project.</p>
        <div class={styles.socialMediaContainer}>
          <Tooltip
            content='Linkedin'
            client:load
          >
            <a
              href='https://linkedin.com/in/hectormtg'
              target='_blank'
            >
              <AstroIcon name='linkedin-icon' /></a
            >
          </Tooltip>
        </div>
      </section>

      <form
        class={styles.form}
        id='contact-form'
        action={actions.sendEmail}
        method='post'
      >
        <Input
          placeholder='Your name'
          name='name'
        />
        <Input
          placeholder='Your email'
          type='email'
          name='email'
        />
        <Input
          placeholder='Your subject'
          name='subject'
        />
        <Input
          placeholder='Your message'
          multiline
          name='message'
        />
        <Button
          type='submit'
          endIconSrc={sendIcon.src}
        >
          Send message
        </Button>
      </form>
    </main>
  </SectionLayout>
</Layout>
