---
import styles from './navbar.module.scss'
import { Icon } from 'astro-icon/components'
import clsx from 'clsx'
import { getPathnameRegex } from '../utils/helpers'

const OPTIONS = [
  { title: 'Home', path: '/', icon: 'home-icon' },
  { title: 'About', path: '/about', icon: 'user-icon' },
  { title: 'Portfolio', path: '/portfolio', icon: 'portfolio-icon' },
  { title: 'Contact', path: '/contact', icon: 'message-icon' },
]

const { pathname } = Astro.url

const regex = getPathnameRegex(pathname)
---

<div class={styles.wrapper}>
  <navbar class={styles.navbar}>
    {
      OPTIONS.map(option => (
        <a
          href={option.path}
          class={clsx(styles.option, regex.test(option.path) && styles.active)}
          onclick='handleClick(option.path)'
          id='navbar-link'
          type='button'
        >
          <Icon name={option.icon} />
          <h2 id={styles.title}>{option.title}</h2>
        </a>
      ))
    }
  </navbar>
</div>

<script>
  import { getPathnameRegex } from '../utils/helpers'

  const anchors = document.querySelectorAll('a#navbar-link')
  const regex = getPathnameRegex(window.location.pathname)
  anchors.forEach(anchor =>
    anchor.addEventListener('click', e => {
      const isMatch = regex.test(anchor.getAttribute('href') as string)
      if (isMatch) e.preventDefault()
    })
  )
</script>
