---
import { Icon } from 'astro-icon/components'
import styles from './experience.module.scss'
import { getLangFromUrl } from '../../../i18n/utils'
import { ui } from '../../../i18n/ui'

const lang = getLangFromUrl(Astro.url)
const t = ui[lang]

const DATA = [
  {
    title: t.experience.kuentro.title,
    description: t.experience.kuentro.description,
    workplace: 'Kuentro',
    period: '2020-present',
  },
  {
    title: t.experience.crombie.title,
    description: t.experience.crombie.description,
    workplace: 'Crombie',
    period: '2023',
  },
  {
    title: t.experience.intelix.title,
    description: t.experience.intelix.description,
    workplace: 'Intelix Synergy C.A.',
    period: '2019-2020',
  },
]
---

<div class={styles.container}>
  {
    DATA.map(data => (
      <div class={styles.item}>
        <icon id={styles.icon}>
          <Icon name='portfolio-icon' />
        </icon>

        <div>
          <span>{data.period}</span>

          <h4>
            {data.title} <span>- {data.workplace}</span>
          </h4>

          <p>{data.description}</p>
        </div>
      </div>
    ))
  }
</div>
