---
import { ui } from '../../../i18n/ui'
import { getLangFromUrl } from '../../../i18n/utils'
import Layout from '../../../layouts/Layout.astro'
import SectionLayout from '../../../layouts/SectionLayout.astro'
import styles from './about.module.scss'
import Experience from './experience.astro'
import PersonalInfo from './personal-info.astro'
import Section from './section.astro'
import Skills from './skills.astro'

const lang = getLangFromUrl(Astro.url)
const t = ui[lang]
---

<Layout>
  <SectionLayout title={t.about.title}>
    <main class={styles.main}>
      <Section title={t.about.personal_info}>
        <PersonalInfo />
      </Section>

      <hr />

      <Section title={t.about.my_skills}>
        <Skills />
      </Section>

      <hr />

      <Section title={t.about.experience}>
        <Experience />
      </Section>
    </main>
  </SectionLayout>
</Layout>
