---
import Navbar from '../components/Navbar.astro'
import LanguagePicker from '../components/ui/language-picker'
import { ui } from '../i18n/ui'
import { getLangFromUrl } from '../i18n/utils'
import '../styles/animations.scss'
import '../styles/global.scss'

const lang = getLangFromUrl(Astro.url)
const t = ui[lang]
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Hector Tamayo</title>
    <meta
      name='description'
      content={t.metadata.description}
    />
    <!-- OPEN GRAPH TAGS -->
    <meta
      property='og:title'
      content={t.metadata.title}
    />
    <meta
      property='og:url'
      content='https://hector-tamayo.netlify.app'
    />
    <meta
      property='og:image'
      content='https://hector-tamayo.netlify.app/favicon.svg'
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:site_name'
      content={t.metadata.title}
    />
  </head>

  <body>
    <div id='root'>
      <slot />
      <Navbar />
      <LanguagePicker
        client:load
        url={Astro.url}
      />
    </div>

    <div id='modal'></div>
  </body>
</html>
